.header{
  display: flex;
    font-size: 30px;
    background-color: cadetblue;
    padding: 10px ;
    color: white;
    height: 8vh;
}
.app-name{
  font-size: 22px;
    font-weight: 700;
    margin-left: 50px;
}

.search-div{
  display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
}
.search-input{
  font-size: 15px;
    border: none;
    border-radius: 20px;
    padding: 6px 21px;
    outline: none;
    color:black;
}
.search-button{
  margin: 0 5% 0 1%;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px 15px;
    background-color: white;
    font-weight: 700;
    outline: none;
}
.search-ul{
  margin: 0;
  position: absolute;
  list-style: none;
  font-size: 15px;
  padding: 5px 0;
  background-color: white;
  color: black;
  height: fit-content;
    max-height: 4cm;
  overflow-y: overlay;
  top: 35px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
}
.search-list-div{
  display:flex;
}
.user-name{
  padding: 3px 10px;
  height: 25px;
}
.user-name:hover{
  background-color: aquamarine;
}
.mainBody-div{
  display: flex;
  height: calc(100% - 8vh);
    padding: 20px;
}
.profile-main-div{
  width: 20%;
  text-align: center;
  margin-right: 20px;
  border-radius: 15px;
  border: 3px solid cadetblue;
  height: 83vh;
}
.profile-img{
  border-radius: 100px;
  margin: 10px 0px;
}
.repo-main-div{
  width: 77%;
    border-radius: 15px;
    border: 3px solid cadetblue;
    display: flex;
    flex-flow: column;
    padding: 10px;
    height: 83vh;
}
.repo-head{
  margin-right: auto;
  font-size: 20px;
    border-bottom: 1px solid black;
}